 
.offcanvas-end {
	display: block;
	visibility: visible;
	transition: auto;
	width: 100%;
	transform: translateX(0%);
}
.offcanvas {
	display: block;
	visibility: visible;
	position:relative;
	background-color: transparent;
	z-index: 1;
}

 
.btn, .btn-large {
  text-decoration: none;
  color: #000000;
  max-width: fit-content;
  margin-left: 6px;
  margin-right: 6px;
  margin: 0 auto;

   /* background-color: transparent; */
   letter-spacing: auto;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  border: 0px;
  box-shadow: none;
}

.btn-group, .btn {
	font-size: 12px;
	letter-spacing:  0.5px;

}
btn-success {
	border: 0px;
}

.btn:hover {
  color: #212529;
}
.xcollection-item:hover {
  background-color: #212529;
  color: #DEDEDE;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid orange;
}
.cls-icn-wrap {
  margin-right: 3px;
}
 
.dropdown-menu {
    max-height: 300px; 
    overflow: auto;
    
}
.dropdown-menu:after, .dropdown-menu:before {
    content: none;
    display: none;
    position: relative;
    height: 300px; 
    overflow: scroll;
}

.dropdown-toggle, .dropdown-toggle-split {
	/*font-weight: bold;
	font-size: 18px; */
	padding-right:10px;
	text-align: absmiddle;
	vertical-align: absmiddle;

}
.dropdown-toggle-split {
	color: #DEDEDE;
}

.modal-backdrop-bg {
	    background:rgba(236, 236, 255, .6);
}
 
 

@media screen and (max-width: 2000px) {
 
}

@media screen and (max-width: 800px) {
 
}



@media screen and (max-width: 500px) {
 

.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
}


.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}
 
	.btn-group {
	display: block;
}
}  /* end max width mobile */

.accordion-button:focus {
    /* z-index: 3; */
    /* border-color: #86b7fe; */
     outline: 0; 
	 border: 0px;
     box-shadow: none; 
 background-color: #F7F7F7;
}
.accordion-button:not(.collapsed) {
		 border: 0px;
     box-shadow: none; 
	  background-color: #F7F7F7;
 
}

.accordion-body {
  padding: 12px;
}

.accordion-item {
  border: 0px;
  background-color: #FFFFFF;
  
  border: 1px solid rgb(169,199,216);
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 6px;
  margin-right: 6px;
  margin-left: 6px;
}

 
.gradient-color {
  background: #0d1432;
  background: linear-gradient(top, #0d1432, #131934);
  background: -moz-linear-gradient(top, #0d1432, #131934);
  background : -ms-linear-gradient(top, #0d1432, #131934);
  background : -webkit-gradient(linear, left top, left bottom, from(#0d1432), to(#131934));
  border : solid 1px #0d1432;
  box-shadow : 2px 2px 3px #182562;
}

.text-primo {
  /* color: #26a69a; */
  color: #0d1432;
}

.pt-4, .py-4 {
   padding-top: 3px !important;
}
 

#page-wrapper {
 
  background-color: #F3F3F3;
 
}
 
.bottom-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-toggle, .dropdown-toggle-split {
  /* font-weight: bold; */
  font-size: 14px;
  padding-right: 10px;
  text-align: absmiddle;
  vertical-align: absmiddle;
}
.nav-link {
  padding: 5px;
}


table.tfixed {table-layout:fixed; width:250px;}/*Setting the table width is important!*/
table.tfixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.tfixed td:nth-of-type(1) {width:20px;}/*Setting the width of column 1.*/
table.tfixed td:nth-of-type(2) {width:200px;}/*Setting the width of column 2.*/

.img100p {
	max-width: 100%;
  max-height: 100%;
}

.form-control {
  height: auto;
}

.swiper-button-next {

  background: rgba(236, 236, 255, .6);
  box-shadow: none;
  color:rgba(9, 9, 75, 0.6);
}

.swiper-button-prev {
  background: rgba(236, 236, 255, .6);
  box-shadow: none;
  color:rgba(9, 9, 75, 0.6);
}

.swiper-pagination-bullet-active {
  background: #294759;
}



/* tinyMCE editor fixes */
.tox .tox-editor-header {
  background-color: #F3F3F3;
} 
.mce-menu {position:fixed !important}
